* {
    box-sizing: border-box;
}

html, body, form {
    height: 100%;
}

body {
    margin: 0;
    background-color: #404040;
    color: #aaa;
}

a,
button {
    color: #cdcdcd;
    text-decoration: none;
    border: none;
    background-color: transparent;
}

button {
    padding: 0;
}

header {
    padding: 8px 15px 15px 15px;
    width: 100%;
    /*height: 59px;*/
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333333;
    font-size: 20px;
    border-bottom: 1px solid #545353;
}

header h1 {
    display: inline;
    margin: 0;
    font-size: 32px;
    /*line-height: 55px;*/
}

header .title {
    text-decoration: underline;
    -webkit-text-decoration-color: #447fcf;
    -moz-text-decoration-color: #447fcf;
    text-decoration-color: #447fcf;
    -webkit-text-decoration-thickness: 4px;
    -moz-text-decoration-thickness: 4px;
    text-decoration-thickness: 4px;
    -webkit-text-decoration-width: 4px;
    -moz-text-decoration-width: 4px;
    text-decoration-width: 4px;
}

nav {
    float: right;
    margin-top: 10px;
}

nav a,
nav button {
    margin-left: 20px;
}

form {
    display: flex;
    flex-flow: column;
}

.start {
    float: left;
    padding: 10px 10px;
    width: 30px;
}

textarea {
    flex: 1 1 auto;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    resize: none;
    font-size: 16px;
    border: none;
    color: #aaa;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 20px 0 5px;
    margin-top: 6px;
    border: none;
    background-color: transparent;
    color: #aaa;
    border-radius: 6px;
}

.select-wrapper {
    padding: 5px;
    display: inline;
    position: relative;
    background-color: #212121;
    border: 1px solid #545353;
    border-radius: 6px;
}

.select-wrapper:after {
    position: absolute;
    display: block;
    content: '\025BE';
    top: 4px;
    right: 10px;
    pointer-events: none;
    color: #aaa;
}

select::-ms-expand {
    display: none;
}

textarea:focus {
    outline: none;
}

.controls {
    color: #cdcdcd;
    padding: 7px;
    border-bottom: 1px solid #545353;
    font-family: Arial, Helvetica, sans-serif;
}

.controls:after {
    display: table;
    content: '';
    clear: both;
}

.controls a {
    margin: 0 5px;
    text-decoration: underline;
}

.controls-divider {
    border-right: 4px dotted #545353;
    margin-right: 10px;
    padding-left: 10px;
}

.delete-indicator {
    display: inline;
}

.lines {
    padding: 7px;
    float: left;
    width: auto;
    font-family: monospace;
    text-align: right;
    font-size: 16px;
    background-color: #404040;
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-right: 1px solid #545353;
}

.lines a {
    color: #6f6f6f;
    width: 100%;
}

.line {
    position: relative;
    display: inline-block;
    width: 100%;
}

.line:before {
    /* The clickable area for toggle line highlight */
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    cursor: pointer;
}

.line:target:after,
.line.highlighted:after {
    /* The actual highlight area isn't clickable */
    position: absolute;
    left: -5px;
    content: '';
    width: 100vw;
    height: 100%;
    background-color: rgba(255,255,255,0.15);
    pointer-events: none;
}

pre {
    margin: 0;
    padding: 7px 5px;
    font-size: 16px;
    font-family: monospace;
    overflow-y: auto;
}

.btn {
    position: relative;
    border-radius: 6px;
    padding: 5px 15px;
    border: 1px solid transparent;
}

.btn-primary {
    background-color: #447fcf;
    color: #fff;
    border: 1px solid #67a8ff;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #27518b;
}

.float-right {
    float: right;
}

@media screen and (max-width: 576px) {
    nav {
        margin-top: 20px;
        float: none;
    }

    nav a,
    nav button {
        margin-left: 0;
        margin-right: 20px;
    }

    .btn-new {
        float: right;
        margin-top: -5px;
        margin-right: 0;
    }

    .delete-indicator {
        display: none;
    }
}
