<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Dead simple code sharing.  Paste some code, save, and share the generated link with a friend.">
    <meta name="keywords" content="quickpaste,code,pastebin,paste,bin,share,snippet">
    {% if id %}
        <meta name="twitter:image:src" content="{{url_for('paste.social_banner', id=id, extension=extension)}}">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Quickpaste">
        <meta name="twitter:description" content="Dead simple code sharing.  Paste some code, save, and share the generated link with a friend.">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ title_link }}">
        <meta property="og:title" content="Quickpaste">
        <meta property="og:description" content="Dead simple code sharing.  Paste some code, save, and share the generated link with a friend.">
        <meta property="og:image" content="{{url_for('paste.social_banner', id=id, extension=extension)}}">
    {% endif %}
    <title>quickpaste</title>
    <link rel="stylesheet" href="/static/css/main.css?{{ cache_buster }}">
</head>
<body class="bg-zinc-700 {% if body_class %}{{ body_class }}{% endif %}">
    <header class="flex flex-col md:flex-row bg-zinc-800 text-zinc-200 pt-1 pr-3 pb-3 pl-3 border-b border-b-zinc-600">
        {% if title and title_link %}
        <textarea id="title-link-select" aria-hidden="true" tabindex="-1" style="position:absolute;left:-10000px;">{{ title_link }}</textarea>
        <a href="{{ title_link }}" id="title-link" class="mb-3 md:mb-0 underline decoration-blue-500 text-4xl font-bold text-center md:text-left"><h1>{{ title }}</h1></a>
        {% else %}
        <a href="/about.md" class="mb-3 md:mb-0 underline decoration-blue-500 text-4xl font-bold text-center md:text-left"><h1>quickpaste</h1></a>
        {% endif %}
        <nav class="ml-auto mr-auto md:mr-0 text-2xl mt-2">
            <a href="/about.md">About</a>
            <a href="https://github.com/carc1n0gen/quickpaste" target="_blank" class="ml-7">Github</a>
            {% if hide_new is not defined %}
            <a href="/" class="ml-7 bg-blue-500 text-white border border-blue-400 rounded-md px-4 hover:bg-blue-700">New Paste</a>
            {% endif %}
        </nav>
    </header>
    {% block content %}{% endblock %}
    {% include 'partials/alerts.html' %}
    <script src="/static/bundle.js?{{ cache_buster }}"></script>
    {% block bottom_scripts %}{% endblock %}
    {% if config.GA_ENABLED %}
        {% include 'partials/analytics.html' %}
    {% endif %}
</body>
</html>
