import logging
from os import path

ROOT = path.realpath(path.dirname(__file__))

LOG_FILE = path.join(ROOT, 'data/app.log')
LOG_LEVEL = logging.INFO

# NOTE: if you change the path to the database you also need to change the
# connection string in the alembic.ini
DB_PATH = path.join(ROOT, 'data/database.db')

MAX_PASTE_LENGTH = 1024 * 10

MINIFY_PAGE = True

BEHIND_PROXY = False

RATELIMIT_DEFAULT = '2 per second'

GA_ENABLED = False
GA_ID = 'ENTER YOUR GOOGLE ANALYTICS ID' # Remember to set GA_ENABLED = True