[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-htmlmin = "*"
waitress = "*"
flask-assets = "*"

[dev-packages]

[requires]
python_version = "3.6"
