[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-htmlmin = "*"
waitress = "*"
flask-limiter = "*"
pygments = "*"
flask-sqlalchemy = "*"
flask-alembic = "*"
flask-mail = "*"
pymongo = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
pytest = "*"
v = {editable = true,version = "*"}
coverage = "*"
pytest-cov = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
