<header>
    <a href="/about.md" class="title"><h1>quickpaste</h1></a>
    <nav>
        <a href="/about.md" data-message="Quickpaste help and info">
            about
        </a>
        <a href="https://github.com/carc1n0gen/quickpaste">
            github
        </a>
        {% if disabled and 'new' not in disabled %}
        <a role="button" class="btn btn-primary" href="/" data-message="Start a new paste">
            new paste
        </a>
        {% endif %}
        <!-- <a href="/login">
            login
        </a> -->
    </nav>
</header>
