<header>
    <nav class="links">
        {% if disabled and 'new' in disabled %}
        <a class="disabled" data-message="Start a new paste (disabled)">
            <span class="sr-only">Start a new paste (disabled)</span>
            <i class="icon-plus"></i>
        </a>
        {% else %}
        <a href="/" data-message="Start a new paste">
            <span class="sr-only">Start a new paste</span>
            <i class="icon-plus"></i>
        </a>
        {% endif %}
        {% if disabled and 'save' in disabled %}
        <button type="submit" data-message="Save this paste (disabled)" disabled class="disabled">
            <span class="sr-only">Save this paste (disabled)</span>
            <i class="icon-floppy"></i>
        </button>
        {% else %}
        <button type="submit" data-message="Save this paste">
            <span class="sr-only">Save this paste</span>
            <i class="icon-floppy"></i>
        </button>
        {% endif %}
        {% if disabled and 'clone' in disabled %}
        <a class="disabled" data-message="Clone and edit this paste (disabled)">
            <span class="sr-only">Clone and edit this paste (disabled)</span>
            <i class="icon-pencil"></i>
        </a>
        {% else %}
        <a href="/?clone={{ hexhhash }}" data-message="Clone and edit this paste">
            <span class="sr-only">Clone and edit this paste</span>
            <i class="icon-pencil"></i>
        </a>
        {% endif %}
        {% if disabled and 'raw' in disabled %}
        <a class="disabled" data-message="View paste as raw text (disabled)">
            <span class="sr-only">View paste as raw text (disabled)</span>
            <i class="icon-text-width"></i>
        </a>
        {% else %}
        <a href="/raw/{{ hexhhash }}" data-message="View paste as raw text">
            <span class="sr-only">View paste as raw text</span>
            <i class="icon-text-width"></i>
        </a>
        {% endif %}
        <a href="/about" data-message="Quickpaste help and info">
            <span class="sr-only">Quickpaste help and info</span>
            <i class="icon-help"></i>
        </a>
        <a href="https://github.com/carc1n0gen/quickpaste" data-message="View the source code" class="last">
            <span class="sr-only">View the source code</span>
            <i class="icon-github-circled"></i>
        </a>
    </nav>
</header>