<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Dead simple code sharing.  Paste some code, save, and share the generated link with a friend.">
     <meta name="keywords" content="quickpaste,code,pastebin,paste,bin,share,snippet">
    <title>quickpaste</title>
    <link rel="stylesheet" href="/static/bundle.css?{{ cache_buster }}">
</head>
<body>
    <header>
        <a href="/about.md" class="title"><h1>quickpaste</h1></a>
        <nav>
            <a href="/about.md" data-message="Quickpaste help and info">
                about
            </a>
            <a href="https://github.com/carc1n0gen/quickpaste">
                github
            </a>
            {% if hide_new is not defined %}
            <a role="button" class="btn btn-primary" href="/" data-message="Start a new paste">
                new paste
            </a>
            {% endif %}
            <!-- <a href="/login">
                login
            </a> -->
        </nav>
    </header>
    {% block content %}{% endblock %}
    {% block bottom_scripts %}{% endblock %}
    {% if config.GA_ENABLED %}
        {% include 'partials/analytics.html' %}
    {% endif %}
    <script>
        function stop(e) {
            e.preventDefault();
            e.stopPropagation();
        }

        window.addEventListener('keydown', (e) => {
            if (e.key === 'n' && (e.ctrlKey || e.metaKey)) {
                stop(e);
                window.location.pathname = '/';
            }
        });
    </script>
</body>
</html>
