<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>quickpaste</title>
    <link rel="stylesheet" href="/static/bundle.css">
</head>
<body {% if body_class %}class="{{ body_class }}"{% endif %}>
    {% block content %}{% endblock %}
    {% block bottom_scripts %}{% endblock %}
    {% if config.GA_ENABLED %}
        {% include 'partials/analytics.html' %}
    {% endif %}
</body>
</html>
