<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>quickpaste</title>
    {% assets 'css_all' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>
    {% block content %}{% endblock %}
    {% assets 'js_all' %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>
</html>