* {
    box-sizing: border-box;
}

html, body, form {
    height: 100%;
}

body {
    margin: 0;
    /*padding: 25px 50px;*/
    background-color: #383c4a;
    color: #aaa;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #404552;
}

header h1 {
    margin: 0;
    padding: 10px;
    background-color: #4b5162;
    color: #aaa;
    text-decoration: underline;
    text-decoration-color: #5294e2;
}

header .links {
    text-align: center;
    padding: 10px;
}

header .links a {
    margin: 0 5px;
}

header button {
    margin: 0 5px;
    padding: 0;
    background-color: transparent;
    border: none;
    color: #5294e2;
    font-size: 16px;
    cursor: pointer;
}

header a {
    color: #5294e2;
    text-decoration: none;
}

.start {
    position: absolute;
    top: 25px;
    left: 25px;
}

textarea {
    margin: 25px 50px;
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    resize: none;
    overflow-y: scroll;
    font-size: 16px;
    border: none;
    color: #aaa;
}

textarea:focus {
    outline: none;
}

textarea:before {
    display: block;
}

pre {
    counter-reset: line;
}

code {
    counter-increment: line;
}

code:before {
    padding: 5px;
    content: counter(line);
    
    display: inline-block;
    margin-right: 5px;
    background-color: #4b5162;
    width: 30px;
    text-align: right;
}

code {
    display: block;
    counter-increment: line;
}

.page {
    margin: 20px;
    width: 850px;

    font-family: Arial, Helvetica, sans-serif;
}

.page a {
    color: #5294e2;
    text-decoration: none;
}

.terminal-command {
    background-color: #4b5162;
}

.terminal-command:before {
    content: '$';
}
