{% macro errors() %}
{% if form is defined and form.errors %}
<div class="alert alert-warning alert-dismissable alert-autohide alert-toast fade-in" id="error-messages">
    <button class="alert-close" type="button" data-target="#error-messages">
        <span class="sr-only">close alert</span>
        <span aria-hidden="true">×</span>
    </button>
    <ul>
        {% for field, errors in form.errors.items() %}
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endmacro %}