{% extends 'layouts/layout.html' %}
{% block content %}
<form method="POST" id="form">
    {{ form.csrf_token }}
    <div class="controls">
        {% if languages %}
        <div class="select-wrapper">
            {{ form.extension(aria_label='Programming Language') }}
        </div>
        {% endif %}
        <button class="btn btn-primary float-right"><span aria-hidden="true">save</span><span class="sr-only">save snippet</span></button>
    </div>
    {{ form.text(spellcheck='false', placeholder='type or paste some code') }}
</form>
{% if form.errors %}
<div class="alert alert-warning alert-dismissable alert-autohide alert-toast fade-in" id="error-messages">
    <button class="alert-close" type="button" data-target="#error-messages">
        <span class="sr-only">close alert</span>
        <span aria-hidden="true">×</span>
    </button>
    <ul>
        {% for field, errors in form.errors.items() %}
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}
{% block bottom_scripts %}
<script>
window.addEventListener('load', function () {
    var text = document.getElementById('text');
    var form = document.getElementById('form');
    form.addEventListener('submit', function savePaste(e) {
        e.preventDefault();
        if (text.value && text.value.trim()) {
            form && form.submit();
        }
    });

    document.querySelectorAll('.alert-autohide').forEach((el) => {
        setTimeout(() => {
            el.classList.add('fade-out-start');
        }, 5000);
        setTimeout(() => {
            el.remove();
        }, 7000);
    });

    document.querySelectorAll('.fade-in').forEach((el) => {
        el.classList.add('fade-in-start');
    });

    document.querySelectorAll('.alert-close').forEach((el) => {
        el.addEventListener('click', (event) => {
            const target = document.querySelector(el.dataset.target);
            if (target) {
                target.classList.add('fade-out-start');
                setTimeout(() => {
                    target.remove();
                }, 2000);
            }
        });
    });
});
</script>
{% endblock %}
