{% extends 'layouts/layout.html' %}
{% block content %}
<div class="page">
    {% include 'partials/header.html' %}
    <h1>What the heck is this?</h1>
    <p>A dead simple code snippet sharing tool.</p>

    <h2>Are the snippets stored forever?</h2>
    <p><strong>NO!</strong>. They are deleted after one week.</p>

    <h2>Where's the code?</h2>
    <p><a href="https://github.com/carc1n0gen/quickpaste">It's right here!</a></p>

    <h2>Help! I'm a terminal hipster!</h2>
    <pre><code class="terminal-command">cat file-name | curl -H "X-Respondwith: link" -X POST -d "text=$(&lt;/dev/stdin)" {{host_url}}</code></pre>

    <span class="notice">Notice: The "X-Respondwith: link" is important. Otherwise you will get a redirect response.</span>

    <p>You could even alias the curl part of that command:</p>

    <pre><code class="terminal-command">alias quickpaste="curl -H \"X-Respondwith: link\" -X POST -d \"text=\$(&lt;/dev/stdin)\" {{host_url}}"</code></pre>

    <p>To make it as simple as:</p>

    <pre><code class="terminal-command">cat file-name | quickpaste</code></pre>
</div>
{% endblock %}
