{% extends 'layouts/layout.html' %}
{% block content %}
<form method="POST" id="form">
    {% include 'partials/header.html' %}
    <textarea spellcheck="false" name="text" id="text" placeholder="type or paste some code" aria-label="Code box">{{ text if text }}</textarea>
</form>
{% endblock %}
{% block bottom_scripts %}
<script>
window.addEventListener('load', function () {
    var text = document.getElementById('text');
    var form = document.getElementById('form');

    form.addEventListener('submit', function savePaste(e) {
        e.preventDefault();
        if (text.value && text.value.trim()) {
            form && form.submit();
        }
    });
});
</script>
{% endblock %}