{% extends 'layouts/layout.html' %}
{% block content %}
<form method="POST" id="form" class="edit-form {{ 'rich-editor-enabled' if config['RICH_EDITOR_ENABLED'] else '' }}">
    {{ form.csrf_token }}
    {{ form.id }}
    <div class="controls">
        {% if languages %}
        <div class="select-wrapper">
            {{ form.extension(aria_label='Programming Language') }}
        </div>
        {% endif %}
        <div class="select-wrapper indent-control rich-disabled">
            <label for="indent" class="sr-only">Indentation</label>
            <select class="indent">
                <optgroup label="Spaces">
                    <option value="spaces-2">2 spaces</option>
                    <option value="spaces-4">4 spaces</option>
                    <option value="spaces-8">8 spaces</option>
                </optgroup>
                <optgroup label="Tabs">
                    <option value="tabs-2">Tabs (2 spaces)</option>
                    <option value="tabs-4">Tabs (4 spaces)</option>
                    <option value="tabs-8">Tabs (8 spaces)</option>
                </optgroup>
            </select>
        </div>
        <button class="btn btn-primary float-right"><span aria-hidden="true">save</span><span class="sr-only">save snippet</span></button>
    </div>
    <div class="editor-container">
        {% if config.RICH_EDITOR_ENABLED %}
        <div class="lines"></div>
        {% endif %}
        {{ form.text(spellcheck='false', placeholder='type or paste some code') }}
        <div class="editor rich-disabled" id="editor" contenteditable spellcheck="false">{{ text|default('', true) }}</div>
    </div>
</form>
{% endblock %}
{% block bottom_scripts %}
<script>
window.addEventListener('load', function () {
    form = document.querySelector('.rich-editor-enabled');
    if(form) {
        editor = new RichEditor(form);
    }
});
</script>
{% endblock %}
