{% extends 'layouts/layout.html' %}
{% block content %}
{% include 'partials/header.html' %}
{{ text | safe }}
<div class="lines">
    {% for line in range(1, lines + 1) %}
        <a href="#{{ line }}" id="{{ line }}" data-line="{{ line }}" class="line line-{{ line }} {{ 'highlighted' if highlighted and line|string in highlighted }}">{{ line }}</a><br>
    {% endfor %}
</div>
{% endblock %}
{% block bottom_scripts %}
<script>
(() => {
    function addLineToParams(params, line) {
        if (!params.has('h')) {
            params.set('h', line);
        } else {
            params.set('h', params.get('h').split(',').concat([line]).join(','));
        }
    }

    function removeLineFromParams(params, line) {
        if (params.has('h')) {
            params.set('h',params.get('h').split(',').filter(i => i !== line).join(','));
        }
    }

    function clickHandler(e) {
        e.preventDefault();

        const el = e.target;
        const line = el.dataset.line;
        const params = new URLSearchParams(document.location.search);
        let hash = window.location.hash;

        if (e.shiftKey) {
            if (hash !== '#' + line) {
                el.classList.add('highlighted');
                addLineToParams(params, line);
            }
        } else {
            if (hash === '#' + line) {
                hash = '';
                window.location.hash = hash;
            } else if (el.classList.contains('highlighted')) {
                el.classList.remove('highlighted');
                removeLineFromParams(params, line);
            } else {
                hash = '#' + line;
                window.location.hash = hash;
            }
        }

        if (params.get('h') === '') {
            params.delete('h');
        }
        const paramsString = params.toString();
        const newUrl =
            window.location.protocol +
            '//' +
            window.location.host +
            window.location.pathname +
            (paramsString === '' ? '' : '?' + paramsString) +
            hash;

        history.replaceState({ path: newUrl }, '', newUrl);
    }

    const lines = document.querySelectorAll('.line');
    lines.forEach((line) => {
        line.addEventListener('click', clickHandler)
    });
})();
</script>
{% endblock %}