{% extends 'layouts/layout.html' %}
{% block content %}
{% include 'partials/header.html' %}
{{ text | safe }}
<div class="lines">
    {% for line in range(1, lines + 1) %}
        <a href="#{{ line }}" id="{{ line }}" data-line="{{ line }}" class="line line-{{ line }} {{ 'highlighted' if highlighted and line|string in highlighted }}">{{ line }}</a><br>
    {% endfor %}
</div>
{% endblock %}
{% block bottom_scripts %}
<script>
(() => {
    function clickHandler(e) {
        e.preventDefault();
        let hash = window.location.hash;
        const line = e.target.dataset.line;
        const params = new URLSearchParams(document.location.search);
        if (e.shiftKey) {
            e.target.classList.toggle('highlighted');
            const h = params.get('h');
            if (h) {
                let highlighted = h.split(',');
                const i = highlighted.indexOf(line);
                if (i === -1) {
                    highlighted.push(line);
                } else {
                    highlighted = highlighted.filter((_, n) => n !== i);
                }
                params.set('h', highlighted.join(','));
            } else {
                params.set('h', line);
            }
        } else {
            if (hash === '#' + line) {
                hash = '';
                e.target.classList.remove('highlighted');
            } else {
                hash = '#' + line;
                e.target.classList.add('highlighted');
                e.target.scrollIntoView();
            }
        }

        const paramsString = params.toString();
        const newUrl = 
            window.location.protocol +
            '//' +
            window.location.host +
            window.location.pathname +
            (paramsString === '' ? '' : '?' + paramsString) +
            hash;

        history.replaceState({ path: newUrl }, '', newUrl);
    }

    const lines = document.querySelectorAll('.line');
    lines.forEach((line) => {
        line.addEventListener('click', clickHandler)
    });
})();
</script>
{% endblock %}