{% extends 'layouts/layout.html' %}
{% block content %}
<textarea id="raw" aria-hidden="true" tabindex="-1" style="position:absolute;left:-10000px;">{{ text_raw }}</textarea>
<div class="controls">
    {% if days_left %}
    <div class="delete-indicator">
        {% if days_left > 1 %}
            <span>will be deleted in {{ days_left }} days</span>
        {% else %}
            <span>will be deleted today</span>
        {% endif %}
        <span class="controls-divider"></span>
    </div>
    {% endif %}
    <a href="/download/{{ hexhash }}{{ '.' + extension if extension }}">download</a>
    <a href="/raw/{{ hexhash }}{{ '.' + extension if extension }}">view raw</a>
    <a href="/?clone={{ hexhash }}">clone &amp; edit</a>
    <a role="button" href="#" id="copy" class="copy-button">copy text</a>
</div>
<div class="lines">
    {% for line in range(1, lines + 1) %}
        <a title="link to line {{ line }}" href="#{{ line }}" id="{{ line }}" data-line="{{ line }}" class="line line-{{ line }} {{ 'highlighted' if highlighted and line|string in highlighted }}">{{ line }}</a><br>
    {% endfor %}
</div>
{{ text | safe }}
{% endblock %}
{% block bottom_scripts %}
<script>
(() => {
    function addLineToParams(params, line) {
        if (!params.has('h')) {
            params.set('h', line);
        } else {
            params.set('h', params.get('h').split(',').concat([line]).join(','));
        }
    }

    function removeLineFromParams(params, line) {
        if (params.has('h')) {
            params.set('h',params.get('h').split(',').filter(i => i !== line).join(','));
        }
    }

    function clickHandler(e) {
        e.preventDefault();

        const el = e.target;
        const line = el.dataset.line;
        const params = new URLSearchParams(document.location.search);
        let hash = window.location.hash;

        if (e.metaKey || e.ctrlKey) {
            if (hash === '#' + line) {
                el.classList.remove('highlighted');
                hash = '';
                window.location.hash = hash;
            } else if (el.classList.contains('highlighted')) {
                el.classList.remove('highlighted');
                removeLineFromParams(params, line);
            } else if (hash !== '#' + line) {
                el.classList.add('highlighted');
                addLineToParams(params, line);
            }
        } else {
            if (hash === '#' + line) {
                hash = '';
                window.location.hash = hash;
            } else if (el.classList.contains('highlighted')) {
                el.classList.remove('highlighted');
                removeLineFromParams(params, line);
            } else {
                hash = '#' + line;
                window.location.hash = hash;
            }
        }

        if (params.get('h') === '') {
            params.delete('h');
        }
        const paramsString = params.toString();
        const newUrl =
            window.location.protocol +
            '//' +
            window.location.host +
            window.location.pathname +
            (paramsString === '' ? '' : '?' + paramsString) +
            hash;

        history.replaceState({ path: newUrl }, '', newUrl);
    }

    const lines = document.querySelectorAll('.line');
    lines.forEach((line) => {
        line.addEventListener('click', clickHandler)
    });

    const raw = document.getElementById('raw');
    const copyButton = document.getElementById('copy');
    copyButton.addEventListener('click', (e) => {
        e.preventDefault();
        raw.select();
        const result = document.execCommand('copy');
        if (result) {
            copyButton.classList.add('copy-success');
            setTimeout(() => {
                copyButton.classList.remove('copy-success');
            }, 600);
        }
    });
})();
</script>
{% endblock %}