{% extends 'layouts/layout.jinja' %}
{% block content %}
{% include 'partials/header.jinja' %}
{{ text | safe }}
<div class="lines">
    {% for line in range(1, lines + 1) %}
        {{ line }}<br>
    {% endfor %}
</div>
{% endblock %}